h1, h2, h3 {
    font-weight: bold;
    text-align: left;
    margin: 0.3em 0 0.3em 0;
}
h1 {
    font-size: 2em;
    line-height: 1.1em;
}
h2 {
    font-size: 1.2em;
    border-bottom: 2px solid #eee;
}
h3 {
    font-size: 1.2em;
}

a, a:visited {
    color: #d23;
    text-decoration: none;
    border-bottom: 1px dotted #fcc;
}
a:hover {
    color: #f78;
}

hr {
    border: 1px solid #eee;
    margin-top: 1em;
    margin-bottom: 1em;
}

#avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: #eeeeee url('/images/avatar-128.png') no-repeat;
    background-size: 128px 128px;
    box-shadow: inset 0 0 10px #666;
    margin-top: 25px;
    margin-right: 30px;
    float: left;
}

#subheader-title > h1,
#subheader-title > h2 {
    line-height: normal;
    border-bottom: none;
}

.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

a.social {
    font-size: 1em;
    vertical-align: middle;
    color: #444;
    text-decoration: none;
    border-bottom: none;
}

body > header > nav > ul {
    text-align: center;
    padding-left: 0px;
    margin: auto;
}
body > header > nav > ul > li {
    display: inline;
    padding-right: 30px;
}

/* Callout */
#page > aside {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid rgba(221,34,51,.8);
    border-left-width: 5px;
    border-radius: 3px;
    overflow: hidden;
}
#page > aside > h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
#page > aside > p:last-child {
    margin-bottom: 0;
}
#page > aside > code {
    border-radius: 3px;
}
#page > aside > p > .logo {
    float: right;
    margin: 0.5em 0 0 0.5em;
}

/* footer */
#page > footer {
    font-size: 0.6em;
    float: right;
}
#page > footer > ul > li {
    display: inline;
    padding-right: 0;
}
#page > footer > ul > li:before {
    content: "\2022";
    padding-right: 5px;
}
#page > footer > ul > li:first-child:before {
    content: none;
}

/* pagination */
#posts > navigation {
  margin: 3rem 0;
  text-align: center;
  color: #ccc;
}
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
  float: left;
  width: 45%;
}
a.pagination-item {
  border-bottom: 1px solid #eee;
}
a.pagination-item:hover {
  background-color: #f5f5f5;
}

article {
  margin-bottom: 1.5em;
}

#posts > article > footer {
  text-align: right;
}

article > header > h1,
article > header > h2,
body > ul > li > h2 {
    margin-bottom: 0.5rem;
    border-bottom: none;
}

.post-meta span {
    font-size: 0.8em;
    margin-right: 2rem;
    color: #9a9a9a;
}

.list-no-style {
    list-style: none;
}
.list-no-style ul {
    list-style-type: disc;
}

blockquote {
    border-left: 0.25em solid #ddd;
    padding: 0 1em;
    margin: 0;
    color: #777;
}
blockquote > p {
    text-align: left;
}

pre {
    font: 1em/1 "Times New Roman", Serif !important;
}

code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 0.7em;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}
code::before, code::after {
    content: "\00a0";
    letter-spacing: -0.2em;
}

@media (max-width: 800px) {
    body {
        width: 100%;
    }

    #page {
        margin: 0 .5rem 0 .5rem;
    }

    #avatar {
        margin-left: 15px;
    }

    #subheader-title {
        margin-left: 180px;
    }

    p {
        min-width: 250px;
    }
}

@media (max-width: 480px) {
    html {
        line-height: 2.5em;
    }
    body {
        font-size: 1.5em;
    }

    h1, h2,
    article.post h1, article.post h2 {
        text-align: center;
    }

    body > header > nav > ul > li {
        padding-right: 0px;
    }
    body > header > nav > ul > li:before {
        content: "\2022";
        padding-right: 5px;
    }
    body > header > nav > ul > li:first-child:before {
        content: none;
    }

    #avatar {
        margin: 30px auto;
        float: none;
    }

    #subheader-title {
        margin-left: 0;
    }

    #page > aside {
        overflow: visible;
    }
    #page > aside > p > .logo {
        visibility: hidden;
    }
    #page > footer > ul {
        padding-left: inherit;
        line-height: 1.5em;
    }

    article > header > div.post-meta {
        text-align: center;
    }
}
