// Colours
$bodyColour: #666;
$headingColour: darken($bodyColour, 5%);
$linkColour: rgb(34, 122, 255);
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #fcfcfc;
$codeBackgroundColour: darken($backgroundColour, 5%);
