// Colours
$bodyColour: rgb(70, 70, 70);
$headingColour: darken($bodyColour, 5%);
$linkColour: rgb(28, 86, 173);
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #eef6fd;
$codeBackgroundColour: darken($backgroundColour, 5%);
