{% if page.image is not defined %}
{% set cloudinary_url = 'https://res.cloudinary.com/%s/image/upload/f_auto,q_auto/w_1000,c_fit,co_black,g_north_west,x_80,y_160,l_text:neuton_100_ultrabold_line_spacing_-10:%s/%s'|format(site.cloudinary.account, page.title|url_encode|replace({'%2C':'%252C'}), site.cloudinary.asset) %}
{% set image = asset(cloudinary_url, {filename: 'cards/%s.png'|format(page.title|slugify)}) %}
{% endif %}

{% extends ['page.html.twig', '_default/page.html.twig'] %}

        {%- block content ~%}
        {%- if cloudinary_url is defined %}<!-- {{ cloudinary_url }} -->{% endif ~%}
        <article class="article article--page typeset">
          <h1>{{ page.title }}</h1>
          {%- include 'partials/post-meta.html.twig' with {'post': page} only ~%}
          {{ page.content }}
        </article>
        {%- if page.comments|default(false) and site.comments|default(false) != false ~%}
        <aside id="comments">
          <script src="https://giscus.app/client.js"
            data-repo="ArnaudLigny/arnaudligny.fr"
            data-repo-id="MDEwOlJlcG9zaXRvcnkxNjQ5NTcxOA=="
            data-category="Announcements"
            data-category-id="DIC_kwDOAPu0Zs4Cb8aF"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light"
            data-lang="fr"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
          </script>
        </aside>
        {%- endif ~%}
        {%- endblock content ~%}