{% extends "index.html" %}

{% block content %}
<section id="articles">
    {% for post in site.pages|bySection(page.pathname)|sortByDate %}
    <article class="post">
        <header>
            <h3><a href="{{ url(post) }}">{{ post.title }}</a></h3>
            {% if post.date %}
            <span class="date">{{ post.date|date("j M Y") }}</span>
            {% endif %}
        </header>
        <section class="content">
            {{ post.content|excerpt }}
        </section>
        <div class="more">
            <a href="{{ url(post) }}">lire la suite&rarr;</a>
        </div>
    </article>
    <hr />
    {% endfor %}
</section>
{% endblock %}