{% extends "index.html" %}

{% block content %}
<ul>
    {% for entry in site.menus.main %}
    <li><a href="{{ url(entry.url) }}">{{ entry.name }}</a></li>
    {% endfor %}
</ul>
<section id="articles">
    {% for post in site.pages|bySection(page.pathname)|sortByDate %}
    <article class="post">
        <header>
            <h1><a href="{{ url(post) }}">{{ post.title }}</a></h1>
            {% if post.date %}
            <span>{{ post.date|date("j M Y") }}</span>
            {% endif %}
        </header>
        <section class="content">
            {{ post.content|excerpt }}
        </section>
        <div class="more">
            <a href="{{ url(post) }}">lire la suite&rarr;</a>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}