        {#- logo ~#}
        <a class="logo" href="{{ url(site.home) }}">
          {{ asset(site.logo)|html({alt: site.title ~ ' logo'}, {responsive: false, formats: ['avif','webp']}) }}
        </a>