        {#- logo ~#}
        <a class="logo" href="{{ url(site.home) }}">
          {{ html(asset(site.logo), {alt: site.title ~ ' logo'}, {responsive: false, formats: ['avif','webp']}) }}
        </a>