<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf8" />
    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta name="keywords" content="{{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" type="image/x-icon" href="http://gravatar.com/avatar/7aaf0ad68aea0b1ef57e6dddb1fb11ce?s=16.gif" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.base_url }}/assets/css/style.css" media="all" />
  </head>
  <body>
    <div id="main">
      <h1>{{ site.name }}</h1>
      <h2>{{ site.baseline }}</h2>
      <div id="avatar"></div>
      {{ page.content }}
      <div id="footer">Template inspiré par <a href="http://jordanscales.com">http://jordanscales.com</a></div>
    </div>
  </body>
</html>
