        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Person",
          "name": "Arnaud Ligny",
          "jobTitle": "Consultant technique",
          "affiliation": "Adfab",
          "additionalName": "Narno",
          "url": "http://arnaudligny.fr",
          "homeLocation": "Paris",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Paris",
            "addressCountry": {
              "@type": "Country",
              "name": "France"
            }
          }
        }
        </script>
        <div itemscope itemtype="http://schema.org/Person">
            <p>Je suis <span itemprop="name">Arnaud Ligny</span> (<acronym title="Also Known As" lang="en">aka</acronym> <a href="http://narno.org">Narno</a>), <span itemprop="jobTitle">consultant technique</span> expérimenté, j’accompagne les marques dans la phase de conception et de développement de leur activité Web, mobile, e-commerce et <acronym title="Internet of Things" lang="en">IoT</acronym>.</p>
            <p>Analyste programmeur de formation, je suis spécialisé dans les technologies du Web, la conception fonctionnelle et technique, la gestion et le pilotage de projets techniques autours des technologies du Web et du e-commerce (particulièrement via la solution <a href="http://magento.com">Magento</a>).</p>
            <p>En plus de 10 ans, j’ai apporté mon expertise sur des dizaines de projets Web et e-commerce (à la fois en agence et chez l'annonceur) pour <a href="http://www.etam.com">Etam</a>, <a href="http://eu.christianlouboutin.com">Christian Louboutin</a>, <a href="http://france.hermes.com">Hermès</a>, <a href="http://www.repetto.fr">Repetto</a>, <a href="http://www.dpam.com">Du Pareil au Même</a>, <a href="http://www.thekooples.com">The Kooples</a>, <a href="http://www.zadig-et-voltaire.com">Zadig &amp; Voltaire</a>, <a href="http://www.saint-maclou.com">Saint Maclou</a>, DHL, M6 ou encore France TV.</p>
            <p>Localisation : <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Paris</span> XIIième, <span itemprop="addressCountry">France</span></span>.</p>
        </div>
